	</div>
</div><!-- /.container -->
<div class="footer"  id="footer">
	<div class="container">
		
	
		<div class="row">
			<div class="col-sm">
				
				About Back to motion: 
				<p>
					We have experts in treatment of wide variety of physical conditions such as work related injuries, MVA, sport injuries, etc.
				</p>
			</div>
			<div class="col-sm text-center">
				<a href="https://www.BacktoMotion.ca"><img src="https://www.backtomotion.ca/Landing-Page/images/back-to-motion-logo-small-white.png" alt="back to motion logo"></a>
				
			</div>
			<div class="col-sm text-center">
				<h5>
					Call us now:
				</h5>
				<hr>
				<a>(647)847-3727</a>
			</div>
		
				
			
		</div>
	</div>
	
</div>



 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>