<% include ./partials/header %>



<div class="container form-center" >
	<center>
	<h1>
	Forgot Password
	</h1>
		</center>
	<div class="row">
		<div style="width:40%; margin: 20px auto;">	

			<form action="/forgot" method="POST">
				<div class="form-group">
					<input type="email" name="email" autofocus placeholder="Your email address" class="form-control">
				</div>
				<input type="submit" class="btn btn-dark btn-block" value="Reset Password">
				
			</form>
		</div>
	</div>
</div>


<% include ./partials/footer %>